/*Add your CSS*/
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        border: 1px solid #FF6144; 
        height: 40%;
        width: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      .splash{
        font-family: 'Titillium Web', sans-serif;
        color: red;
      }

      .food-map{
        font-size: 50px;
      }

      .container{
        display: none;
      }

      .home-display{
        display: none;
      }


      